/* Estilos para a página Total de Lojas */

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.form-container h2 {
    margin-top: 0;
}

/* Estilos para filtros */
.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter-container label {
    font-weight: bold;
}

.filter-container select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    flex: 1; /* Ocupa todo o espaço disponível */
    margin-right: 10px; /* Espaço entre os filtros */
    margin-bottom: 10px; /* Espaço abaixo dos filtros */
}

/* Estilos para a tabela */
.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilos para os botões de dia de visita */
#dia_visita_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
}

#dia_visita_buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #a9adad; /* Branco */
    color: #000000; /* Texto preto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#dia_visita_buttons button.btn-selected {
    background-color: #1cb1df; /* Azul */
    color: #ffffff; /* Texto branco */
}

/* Ajusta o botão do dropdown para ocupar toda a largura disponível */
.dropdown-toggle {
    width: 100%;
    text-align: left; /* Alinha o texto à esquerda para melhor visualização */
}

/* Ajusta a lista do dropdown para ocupar toda a largura do botão */
.dropdown-menu {
    width: 100vw; /* Faz com que a lista do dropdown ocupe toda a largura da tela */
    left: 0; /* Alinha o menu com o botão */
    right: 0; /* Faz o menu ocupar toda a largura disponível */
}

/* Adiciona um ajuste específico para garantir que o menu esteja posicionado corretamente */
.dropdown-menu.show {
    width: 100vw; /* Ajusta o menu dropdown quando ele está visível */
    position: absolute;
}
