<html>
<head>
    <meta charset="UTF-8">
    <title>Índice</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/suatrade/static/css/navbar.css">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container-fluid mt-3">
        <div class="mb-3">
            <h2>Cadastrar promotor</h2>
        </div>
        <br>
        <form method="POST" action="/index">
            <div class="mb-3">
                <label for="nome" class="form-label form-label-custom">Nome:</label>
                <input type="text" id="nome" name="nome" class="form-control form-control-custom" required>
            </div>
            <div class="mb-3">
                <label for="cargo" class="form-label form-label-custom">Cargo:</label>
                <input type="text" id="cargo" name="cargo" class="form-control form-control-custom" required>
            </div>
            <div class="mb-3">
                <label for="modalidade" class="form-label form-label-custom">Modalidade:</label>
                <input type="text" id="modalidade" name="modalidade" class="form-control form-control-custom" required>
            </div>
            <div class="mb-3">
                <label for="salario" class="form-label form-label-custom">Salário:</label>
                <input type="text" id="salario" name="salario" class="form-control form-control-custom" required>
            </div>
            <div class="mb-3">
                <label for="cpf" class="form-label form-label-custom">CPF:</label>
                <input type="text" id="cpf" name="cpf" class="form-control form-control-custom" required>
            </div>
            <div class="mb-3">
                <label for="rg" class="form-label form-label-custom">RG:</label>
                <input type="text" id="rg" name="rg" class="form-control form-control-custom" required>
            </div>
            <div class="mb-3">
                <label for="endereco" class="form-label form-label-custom">Endereço:</label>
                <input type="text" id="endereco" name="endereco" class="form-control form-control-custom" required>
            </div>
            <div class="mb-3">
                <label for="bairro" class="form-label form-label-custom">Bairro:</label>
                <input type="text" id="bairro" name="bairro" class="form-control form-control-custom" required>
            </div>
            <div class="mb-3">
                <label for="cidade" class="form-label form-label-custom">Cidade:</label>
                <input type="text" id="cidade" name="cidade" class="form-control form-control-custom" required>
            </div>
            <div class="mb-3">
                <label for="cep" class="form-label form-label-custom">CEP:</label>
                <input type="text" id="cep" name="cep" class="form-control form-control-custom" required>
            </div>
            <div class="mb-3">
                <label for="banco" class="form-label form-label-custom">Banco:</label>
                <input type="text" id="banco" name="banco" class="form-control form-control-custom" required>
            </div>
            <div class="mb-3">
                <label for="pix" class="form-label form-label-custom">PIX:</label>
                <input type="text" id="pix" name="pix" class="form-control form-control-custom" required>
            </div>
            <div class="mb-3">
                <label for="data_pagamento" class="form-label form-label-custom">Data de Pagamento:</label>
                <input type="text" id="data_pagamento" name="data_pagamento" class="form-control form-control-custom" required>
            </div>
            <button type="submit" class="btn btn-outline-success">Adicionar</button>
        </form>
        <button onclick="location.href='/lista'" class="btn btn-outline-info">Lista de promotores</button>
    </div>         
</body>
</html>
