<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lista de Pessoas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/navbar.css">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container-fluid mt-3">
        <div class="mb-3">
        <h2>Lista de Pessoas</h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Cargo</th>
                        <th>Modalidade</th>
                        <th>Região</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pessoa in pessoas|sort(attribute='nome') %}
                    <tr onclick="window.location='/edit/{{ pessoa.id }}';" style="cursor: pointer;">
                        <td>{{ loop.index }}</td>
                        <td>{{ pessoa.nome }}</td>
                        <td>{{ pessoa.cargo }}</td>
                        <td>{{ pessoa.modalidade }}</td>
                        <td>{{ pessoa.re }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="/index" class="btn btn-primary">Voltar</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>     
</body>
</html>
