<nav class="navbar navbar-expand-lg navbar-dark custom-navbar fixed-top">
    <div class="container">
        <link rel="stylesheet" href="/static/css/navbar.css">
        <a class="navbar-brand" href="#">
            <img src="/static/img/logo_nagondola.png" alt="Logo" width="498" height="501">
        </a>
        <!-- Botão de toggler sem data-bs-toggle e data-bs-target -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item hidden">
                    <a class="nav-link custom-link" href="/index">Home</a>
                </li>
                <li class="nav-item hidden">
                    <a class="nav-link custom-link" href="/lojas">Lojas</a>
                </li>
                <li class="nav-item hidden">
                    <a class="nav-link custom-link" href="/modal_ponto">Registro de Ponto</a>
                </li>
                <li class="nav-item hidden">
                    <a class="nav-link custom-link" href="/nota_fiscal">Enviar nota fiscal</a>
                </li>
                <li class="nav-item hidden">
                    <a class="nav-link custom-link" href="/lista">Promotores</a>
                </li>
                <li class="nav-item hidden">
                    <a class="nav-link custom-link" href="/total_lojas">Roteiros</a>
                </li>
                <li class="nav-item hidden">
                    <a class="nav-link custom-link" href="#">Contatos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" href="/pdv_estoque">PDV Estoque</a>
                </li>
                <li class="nav-item hidden">
                    <a class="nav-link custom-link" href="/ver_pdv" target="_blank">Ver PDV</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link custom-link" href="#">
                        <span id="greeting"></span>, <span id="username"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <button class="btn btn-primary">Sair</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="static/js/navbar.js" data-username="{{ session['username'] }}"></script>